
<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="" class="navbar-brand"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""></a>Produtos</li>
        <li><a href=""></a>Entrada de estoque</li>
        <li><a href=""></a>Saida de estoque</li>
      </ul>
    </div>
  </div>

  <h1 class="text-center">gerenciamento de estoque</h1>

</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
