<h3>Detalhes do Imovel</h3>

<a [routerLink]="['/']" class="btn btn-primary">Lista de Imoveis</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Tipo de Imovel</th>
      <th>Bairro</th>
      <th>Valor</th>
      <th>Acao</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{propertie.id}}</td>
      <td>{{propertie.title}}</td>
      <td>{{propertie.description}}</td>
      <td>{{propertieType.title}}</td>
      <td>{{propertieDistrict.title}}</td>
      <td>R$ {{propertie.value}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="[]">
          <i class="fa fa-pencil-square-o"></i>
          Editar
        </a>
        <a class="btn btn-danger" [routerLink]="[]">
          <i class="fa fa-trash-o"></i>
          Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
