<h3>Detalhes do Imovel</h3>

<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a [routerLink]="['/']" class="navbar-brand">
        <i class="fa fa-files-o"></i>
        Lista de Imoveis
      </a>
    </ul>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Tipo de Imovel</th>
      <th>Bairro</th>
      <th>Valor</th>
      <th>Acao</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{propertieId}}</td>
      <td>{{propertie.title}}</td>
      <td>{{propertie.description}}</td>
      <td>{{propertieType.title}}</td>
      <td>{{propertieDistrict.title}}</td>
      <td>R$ {{propertie.value}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/properties/' + propertieId + '/edit']">
          <i class="fa fa-pencil-square-o"></i>
          Editar
        </a>
        <a class="btn btn-danger" [routerLink]="['/properties/' + propertieId + '/delete']">
          <i class="fa fa-trash-o"></i>
          Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
