<h3>Adicionar Imovel</h3>

<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a [routerLink]="['/']" class="navbar-brand">
        <i class="fa fa-arrow-circle-o-left"></i>
        Voltar
      </a>
    </ul>
  </div>
</div>

<form action="" class="form-horizontal" autocomplete="off" (submit)="create()">
  <div class="form-group">
    <label for="title" class="form-label col-md-2">Titulo</label>
    <div class="col-md-10">
      <input [(ngModel)]="propertie.title" name="title" id="title" type="text" class="form-control" >
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="form-label col-md-2">Descricao</label>
    <div class="col-md-10">
      <input [(ngModel)]="propertie.description" name="description" id="description" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="value" class="form-label col-md-2">Valor</label>
    <div class="col-md-10">
      <input [(ngModel)]="propertie.value" name="value" id="value" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-push-2">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o"></i>
        Salvar
      </button>
    </div>
  </div>
</form>
