<h3>Imoveis</h3>

<a href="" class="btn btn-primary">Novo Imovel</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Acao</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let propertie of properties">
      <td>{{propertie.id}}</td>
      <td>{{propertie.attributes.title}}</td>
      <td>{{propertie.attributes.description}}</td>
      <td>R$ {{propertie.attributes.value}}</td>
      <td>
        <a [routerLink]="['/properties/' + propertie.id]" class="btn btn-info">
          <i class="fa fa-info-circle"></i>
          Ver
        </a>
      </td>
    </tr>
  </tbody>
</table>
